@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To WebAPI Tutorial</h1>
</div>

<div>
    <div class="row">
        <div class="col-md-2">
            Name
        </div>
        <div class="col-md-4">
            <input class="form-control" type = "text" id="txtName" placeholder="Enter your name"/>
        </div>
        <div class="col-md-2">
            Price
        </div>
        <div class="col-md-4">
            <input class="form-control" type="number" id="txtPrice" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onclick="return Create()">Add</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary"onclick="return Update()">Update</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" onclick="return clear()">Clear</button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>

<table class="table table-hover" id="tblProducts">
    <thead>
        <tr>
            <th scope="col">Serial No </th>
            <th scope="col">Name </th>
            <th scope="col">Price </th>
            <th scope="col">Actions </th>
        </tr>
    </thead>
    <tbody id="tblBody">

    </tbody>
</table>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>

    $(document).ready(function () {
        GetDetails();
    });

    let ProductId = '';

    function onEdit(id) {
        ProductId = id;
        var options = {};
        options.url = "http://localhost:5045/api/Product/" + id;
        options.type = "GET";
        options.success = function (msg) {
            console.log(msg);
            if (msg !== undefined && msg !== null) {
                $("#txtName").val(msg.name);
                $("#txtPrice").val(msg.price);
            }
        },
            options.error = function () {
                console.log("Error while calling the Web API!");
            };
        $.ajax(options);
    }

    function onDelete(id) {
        if (window.confirm("Are you sure to delete this record?")) {
            var options = {};
            options.url = "http://localhost:5045/api/Product/" + id;
            options.type = "DELETE";
            options.success = function (msg) {
                console.log(msg);
                if (msg !== undefined && msg !== null) {
                    clear()
                    GetDetails();
                    alert('Record deleted');
                }
            },
                options.error = function () {
                    console.log("Error while calling the Web API!");
                };
            $.ajax(options);
        }

    }

    function GetDetails() {
        var options = {};
        options.url = "http://localhost:5045/api/Product";
        options.type = "GET";
        options.contentType = "application/json";
        options.dataType = "html";

        options.success = function (msg) {
            $('#tblBody').html('');
            if (msg !== undefined && msg !== null) {
                const dt = JSON.parse(msg);
                for (let i = 0; i < dt.length; i++) {
                    var row = "<tr>";
                    row += "<td> " + parseInt(i + 1) + "</td>";
                    row += "<td> " + dt[i].name + "</td>"; row += "<td> " + dt[i].price + "</td>";
                    row += "<td> <button class='btn btn-primary'  onclick='return onEdit(" + dt[i].id + ")'>Edit</button>&nbsp;|&nbsp;<button class='btn btn - danger' onclick='return onDelete(" + dt[i].id + ")'>Delete</button> </td>";
                    $('#tblBody').append(row);
                }
            }
        },
            options.error = function () {
                console.log("Error while calling the Web API!");
            };
        $.ajax(options);
    }

    function Create() {

        var options = {};
        options.url = "http://localhost:5045/api/Product";
        options.type = "POST";
        var obj = {};
        obj.Name = $("#txtName").val();
        obj.Price = $("#txtPrice").val();
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";

        options.success = function (msg) {
            if (msg !== undefined && msg !== null) {
                clear()
                GetDetails();
                alert('Record added')
            }

        },
            options.error = function () {
                console.log("Error while calling the Web API!");
            };
        $.ajax(options);

    }

    function Update() {
        var options = {};
        options.url = "http://localhost:5045/api/Product/" + ProductId;
        options.type = "PUT";
        var obj = {};
        obj.Id = ProductId;
        obj.Name = $("#txtName").val();
        obj.Price = $("#txtPrice").val();
        options.data = JSON.stringify(obj);
        options.contentType = "application/json";
        options.dataType = "html";

        options.success = function (msg) {
            console.log(msg);

            if (msg !== undefined && msg !== null) {
                clear()
                GetDetails();
                alert('Record updated')
            }
        },
            options.error = function () {
                console.log("Error while calling the Web API!");
            };
        $.ajax(options);
    }


    function clear() {
        $("#txtName").val('');
        $("#txtPrice").val('');
    }
</script>